<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Gus Powelll</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/timeline.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <script src="js/modernizr.js"></script> <!-- Modernizr -->
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/timeline.js"></script>
    <script src="js/index.js"></script>

  </head>

  <body>

    <nav id="navbar">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">GP</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="about-menu"><a href="#">About</a></li>
          <li class="skills-menu"><a href="#">Skills</a></li>
          <li class="interests-menu"><a href="#">Interests</a></li>
          <li class="timeline-menu"><a href="#">Timeline</a></li>
          <li class="contact-menu"><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>

    <div id="first-container">
      <!-- <div class="title">
        <h1 class="strategy">STRATEGIST</span></h1>
      </div> -->
      <img class="profile-picture" src="images/gus-burger.jpg"/>
    </div>

    <div class="about-container">
      <h1>ABOUT</h1>
      <p>
        My experience lies in <span style="color:#ff5519; font-size:1.5em">strategy and planning</span>, my background is in <span style="color:#16d6d9; font-size:1.5em">economics and code</span> and my interests are rooted in <span style="color:#6114cc; font-size:1.5em;">digital and tech.</span> I think this particular concoction offers a unique outlook in the world of strategy
      </p>
    </div>

    <!-- <div id="experience-container" class="w3-content w3-display-container">
      <img class="mySlides" src="images/upbeat.jpg" style="width:100%"/>
      <img class="mySlides" src="images/nutricia.jpg" style="width:100%"/>

      <a class="w3-btn-floating w3-display-left" onclick="plusDivs(-1)">&#10094;</a>
      <a class="w3-btn-floating w3-display-right" onclick="plusDivs(1)">&#10095;</a>
    </div> -->

    <script>
      var slideIndex = 1;
      showDivs(slideIndex);

      function plusDivs(n) {
        showDivs(slideIndex += n);
      }

      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
      }
    </script>

    <div class="skills-container">
      <h1>SKILLS</h1>

      <div class="skill">
        <h1>PLANNING</h1><br>
        <p>I’ve worked as a strategist at Havas for over a year, learning different planning elements, from upstream business strategy through to innovation projects and downstream comms planning.</p>
        <!-- <ul>
          <li>xxx</li>
          <li>xxx</li>
          <li>xxx</li>
          <li>xxx</li>
        </ul> -->
      </div>

      <div class="skill">
        <h1>TECHNOLOGY</h1><br>
        <p>I love tech and innovation and I’ve helped workshop, build and refine a couple of innovation projects in my time at Havas. I also know how to code which helps in my understanding of these projects.</p>
          <!-- <ul>
            <li>Photoshop</li>
            <li>Illustrator</li>
            <li>CSS and HTML</li>
          </ul> -->
      </div>

      <div class="skill">
        <h1>DESIGN</h1><br>
          <p>I come from a creative background in art and design and remain very passionate about art, graphics, interface and layout. I build client facing decks on a regular basis, as well as pitch presentations.</p>
      </div>

    </div>

    <div class="interests-container">
      <h1>INTERESTS</h1>
      <table id="interest-icons" style="width:80%; margin:0 auto;">
        <tr>
          <td><img class="icon" src="images/icons/burger_icon.png"/></td>
          <td><img class="icon" src="images/icons/snowboard_icon.png"/></td>
          <td><img class="icon" src="images/icons/golf_icon.png"/></td>
          <td><img class="icon" src="images/icons/tech_icon.png"/></td>
          <td><img class="icon" src="images/icons/slackline_icon.png"/></td>
          <td><img class="icon" src="images/icons/skateboard_icon.png"/></td>
          <td><img class="icon" src="images/icons/tennis_icon.png"/></td>
        </tr>
        <tr>
          <td><img class="icon" src="images/icons/wakeboard_icon.png"/></td>
          <td><img class="icon" src="images/icons/hockey_icon.png"/></td>
          <td><img class="icon" src="images/icons/pints_icon.png"/></td>
          <td><img class="icon" src="images/icons/football_icon.png"/></td>
          <td><img class="icon" src="images/icons/music_icon.png"/></td>
          <td><img class="icon" src="images/icons/art_icon.png"/></td>
          <td><img class="icon" src="images/icons/pizza_icon.png"/></td>
        </tr>
      </table>
    </div>

    <div class="timeline-container">
      <h1>TIMELINE</h1>

      <section id="cd-timeline" class="cd-container">

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-havas">
            <img src="images/havas-logo.png" alt="Picture">
          </div>

          <div class="cd-timeline-content">
            <h2>HAVAS</h2>
            <p>Strategy ranging from upstream business strategy to tech innovation and comms planning</strong></p>
            <span class="cd-date">Dec 14 - ongoing</span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-location">
            <img src="images/makers2.png" alt="Picture">
          </div>

          <div class="cd-timeline-content">
            <h2>MAKERS ACADEMY</h2>
            <p>Three intentense (but awesome) months <strong>learning to code</strong></p>
            <span class="cd-date">Dec 14 - March 15</span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie">
            <img src="images/newcastle2.png" alt="Movie">
          </div>

          <div class="cd-timeline-content">
            <h2>NEWCASTLE UNIVERSITY</h2>
            <p><strong>First Class Honours</strong> in Economics and Business Management</p>
            <span class="cd-date">Sept 11- June 14</span>
          </div>
        </div>


        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture">
            <img src="images/cranleigh2.png" alt="Picture">
          </div>

          <div class="cd-timeline-content">
            <h2>CRANLEIGH SCHOOL</h2>
            <p><strong>A-levels:</strong><br>Art A* | Maths A | Economics A</p>
            <p><strong>GCSEs:</strong><br>4A* | 5A</p>
            <span class="cd-date">Sept 06 - June 11</span>
          </div>
        </div>
        <!-- <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-location">
            <img src="images/cd-icon-location.svg" alt="Location">
          </div>

          <div class="cd-timeline-content">
            <h2>Present</h2>
            <p>Looking to work in a fast moving, innovative company</p>
            <span class="cd-date">Feb 14</span>
          </div>
        </div> -->

      </section>


    </div>

    <div class="contact-container">
      <h1>CONTACT</h1>
      <div class="contact-locations">
        <a href="https://uk.linkedin.com/pub/gus-powell/69/ba5/350"><img class="contact-icon" src="images/linkedin2.png"/></a>
        <a href="https://github.com/guspowell"><img class="contact-icon" src="images/github2.png"/></a>
        <a href="mailto:augustuspowell@me.com?" target="_top"><img class="contact-icon" src="images/email2.png"/></a>
      </div>
    </div>

  </body>

</html>
