/*NAVIGATION BAR*/

nav {
  padding: 0 2% 0 2%;
  background-color: white;
  position: fixed;
    top: 0;
  z-index: 100;
}
nav ul a {
  font-size: 15px;
  color: #5c5c5c;
}
nav .brand-logo {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-style: normal;
	font-variant: normal;
	font-weight: 400;
  font-size: 30px;
  color: #5c5c5c;
  margin-left: 1%;
}

/*FIRST CONTAINER*/

#first-container {
  margin-top: 100px;
  background-color: #eeeeee;
}
.title {
  display: inline-block;
  margin: 10%;
  font-family: 'Open Sans', sans-serif;
  font-size: 6em;
  font-weight: bold;
  line-height: 1.3em;
}
.title .code { color: #ff5519; }
.title .creative { color: #16d6d9; }
.title .strategy { color: #ed0082; }

.profile-picture {
  position: absolute;
    bottom: 0;
    right: 0;
  width: 40%;
}


/*ABOUT CONTAINER*/

.about-container {
  /*height: 800px;*/
  background-color: #009cf3;
  padding-bottom: 5%;
}

.about-container p {
  font-size: 2em;
  line-height: 2.2em;
  color: #eeeeee;
  width: 70%;
  margin: 0 auto;
}

/*SKILLS CONTAINER*/

.skills-container {
  background-color: #fe8241;
  padding-bottom: 3%;
  text-align: center;
}

.skills-container .skill {
  width: 25%;
  display: inline-block;
  margin: 2%;
  text-align: left;
  color: white;
  font-size: 1.5em;
  vertical-align: top;
}

.skills-container .skill h1 {
  font-size: 1em;
  line-height: 0em;
  margin: 0;
  padding: 0;
}

.skills-container .skill p {
  margin-top: 0;
  padding-top: 0;
}

.skills-container .skill li {
  list-style-type: disc;
  list-style-position:inside;
  font-size: 0.8em;
}

/*INTERESTS CONTAINER*/

.interests-container {
  background-color: #333333;
  padding-bottom: 5%;
  text-align: center;
}

img.icon {
  width: 100%;
  padding: 15%;
}

/*TIMELINE CONTAINER*/

.timeline-container {
  background-color: white;
  padding-bottom: 3%;
  text-align: center;
}

.timeline-container h1 {
  color: black;
  padding-bottom: 0;
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

/*CONTACT CONTAINER*/

.contact-container {
  background-color: #6114cc;
  padding-bottom: 3%;
  text-align: center;
  padding-bottom: 10%;
}

.contact-container .contact-locations {
  text-align: left;
  display: inline-block;
  text-align: center;
}

.contact-locations img {
  width: 10%;
  vertical-align: middle;
  margin: 0 2% 0 2%;
}
